.video-upload-form {
    margin: 24px 0px;
}

.video-upload-form__container {
  width: 95%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-upload-preview__video {
  width: 100px;
  height: 100px;
}

.video-upload-form__transcription {
  
}

.video-upload-hover {
   border-style: dashed;
  
    &:hover {
      background-color: rgba(var(--bs-primary-rgb), 0.05); // similar to hover:bg-primary/5
    }
  }
  